/* style.css */
/* --- Import Google Fonts stylesheets --- */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");

/* --- Import Components stylesheets --- */
/*@import url("components/avatar.css");
@import url("components/button.css");*/

/* --- Define basic style for fonts & colors --- */
body {
  font-family: "Helvetica LT W01 Bold O1489460";
  color: #0030C5;
  background-color: black;
}

p {
  font-size: 24px;
  line-height: 32px;
  word-spacing: 0px;
}

.container {
  margin: 0px 142.406px;
  padding: 64px 0px;
}

.split {
  height: 100vh;
  width: 50vw;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.hypha {
  color: #0030C5;
}

.page-right {
  background-color: #F0E4DC;
  margin: 5vh 10vw 5vh 3vw;
  overflow-y:auto;
  height: 90vh;
}

.page-left {
  background-color: #F0E4DC;
  margin: 5vh 3vw 5vh 10vw;
  overflow-y:auto;
  height: 90vh;
}

.header {
  height: 10vh;
}

.boxes-container {
  background-color: black;
  height: 20vh;
  color: #F0E4DC;
  position: relative;
  display: flex;
  justify-content:center;
}

.box {
  border-color: #F0E4DC;
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction: column;
  height: 18vh;
  width: 18vh;


}

#box-right {
}

.header h1 {
  font-size: 16px;
}
