/* style.css */
/* --- Import Google Fonts stylesheets --- */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");

/* --- Import Components stylesheets --- */
/*@import url("components/avatar.css");
@import url("components/button.css");*/

/* --- Define basic style for fonts & colors --- */
body {
  font-family: "Helvetica LT W01 Bold O1489460";
  color: #0030C5;
  background-color: black;

}


.split {
  height: 100vh;
  width: 50vw;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.hypha {
  color: #0030C5;
  margin: 0px 10px 0px 0px;
  font-size: 16px;
}
.hypha:hover {
  text-decoration: underline;
}

.page-right {
  background-color: #F0E4DC;
  margin: 5vh 10vw 5vh 3vw;
  overflow-y:auto;
  height: 90vh;
  padding: 15px 40px 15px 40px;
  font-size: 24px;
  line-height: 32px;
  word-spacing: 0px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.page-left {
  background-color: #F0E4DC;
  margin: 5vh 3vw 5vh 10vw;
  overflow-y:auto;
  height: 90vh;
}

.header {
  height: 10vh;
  padding: 10px 40px 10px 60px;
  font-size: 24px;
}

.header p {
  margin: 0px 0px 0px 0px;
}

.boxes-container {
  background-color: black;
  height: 20vh;
  color: #F0E4DC;
  position: relative;
  display: flex;
  justify-content:center;
}

.box {
  border-color: #F0E4DC;
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 16vh;
  width: 16vh;
  word-wrap: break-word;
  font-size: 15px;
  margin: 2vh 4vh 2vh 4vh;
  padding: 0vh 2vh 0vh 2vh;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

}

#box-right {
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: #0030C5; /* Black fallback color */
  background-color: #0030C5, 0.9; /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.1s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #F0E4DC;
}

.overlay-content {
  color: #F0E4DC;
}

.img-container {
  padding: 10vh 10vh 10vh 10vh;
  text-align: center;
}
#channel-img {
  display: inline-block;
  width: auto;
  height: 40vh;
}
